body, h1, h2, h3, p, ul, li, form, input, textarea{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: inset;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    line-height: 1;
}

header{
    background-color: rgb(65, 58, 58);
    padding: 20px;
}

nav ul{
    list-style-type: disc;
    list-style: none;
    text-align:justify;
}

nav ul li{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 25px;

}

nav ul li a{
    color: azure;
    text-decoration: none;
    text-shadow: 1cap;
    transition: color 0.2s;
}

nav ul li a:hover{
    color: rgb(219, 136, 191);
}
nav ul li::before{
    content: '';
    display: inline-block;
    margin-right: 10px;
    height: 10px;
    width: 10px;
    background-image: url('bulletin.JPG');
    background-size: cover;
}

.section{
    padding: 100px;
    margin: 5px;
    text-align: center;
}

.section h1, .section h2{
    font-size: 50px;
    margin-bottom: 15px;
    color: rgb(66, 7, 66);
}

.section p{
    font-size: 30px;
    color: rgb(39, 29, 20);
}

div{
    font-size: 20px;
}

.btn{
    display: inline-block;
    background-color: #c98f8f;
    color: aquamarine;
    padding: 10px 15px;
    text-decoration: dotted;
    transition: background-color 0.3 step-end;
    font-size: 20px;
}

.btn:hover{
    border-radius: 30px;
    background-color: #807a62;
}

.menu-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-item{
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color:#f4e2e2;
    box-shadow: 0 2px;
}


.menu-item img{
    width: 100px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.menu-item h3{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #444;
}

.price{
    display: inline-block;
    padding:5px 10px;
    background-color:rgb(159,159,234) ;
    color:rgb(15,15,170);
    font-size: 15px;
}
.image-gallery{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.image-gallery img{
    width: 250;
    height: 250px;
    margin: 10px;
    padding: 5px;
}

.testimonial{
    max-width: 400px;
    margin: 0 auto 40px 5px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(206, 52, 137, 0.2);
}

.testimonial img{
    width: 100px;
    height: 100;
    margin-top: 2px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.testimonial p{
    font-size: 20px;
    color: #666;
    margin-top: 4px;
    margin-bottom: 12px;
}

.testimonial name{
    font-size: 23px;
    font-weight: bold;
    color: #333;
}

.container{
    display: grid;
    background-color: rgb(201, 131, 103);
    height: 25vh;
    /* grid-row-gap: 5px; */
    /* grid-column-gap: 90px; */
    grid-gap: 2px 9px;
    /* grid-gap: 10px; */
    /* grid-template-columns: 34px 334px auto; */
    /* grid-template-rows: 44px 84px;  */
    grid-template-columns: auto auto auto auto;
    padding:15px;
    border: 2px solid black;
}

footer{
    background-color: #333;
    color: #f5dada;
    padding: 20px;
    text-align: center;
}

footer p{
    font-size: 20px;
}